<br/>
<br/>
<h3 class='title is-4'>All Players</h3>
<div class='columns is-multiline'>
<%= render partial: 'players/player',
           collection: @players,
           locals: {show_link: true}
%>
</div>

