<p>
Found <%= pluralize(@players.size, 'result') %>
for the search term <%=params[:search_term]%>
</p>


<div class='columns is-multiline'>
<%= render partial: 'players/player',
           collection: @players,
           locals: {show_link: true}
%>
</div>